<%- include("partials/header") -%>
<div id="wrapper">
   <section class="hero is-large">
      <div class="hero-body">
         <div class="content container">
            <p><%= about %></p>
            <p class="is-size-7">
               <strong>(<%= discardingTime %>)</strong>
            </p>
         </div>
      </div>
   </section>
</div>
<%- include("partials/footer") -%>