<%- include("partials/header") -%>
<div id="wrapper">
	<section class="hero">
		<div class="hero-body">
			<div class="content container">
				<h1>Contact Us</h1>
				<p><%= contact %></p>
			</div>
		</div>
	</section>
</div>
<%- include("partials/footer") -%>