<%- include("partials/header") -%>

<div id="wrapper">
	<div class="banner-container">
		<section class="hero is-large">
			<div class="hero-body">
				<div class="content container">
					<h1>You've successfully signed up!</h1>
					<a class="button" href="/compose">New entry</a>
				</div>
			</div>
		</section>
	</div>
</div>

<%- include("partials/footer") -%>