<div class="is-flex is-justify-content-center">
   <div class="notification notification-regular is-hidden" data-name="entry-expiry-notification-cookie">
      <button title="Clear notification" aria-label="Clear notification" type="button" class="delete"></button>
      <strong>
         <%= discardingTime %>
      </strong>
   </div>
</div>